<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.ys.model.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_pwd" jdbcType="VARCHAR" property="userPwd" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, user_pwd
  </sql>
  <select id="selectByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{user_id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByUserId" parameterType="java.lang.String">
    delete from user
    where user_id = #{user_id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ys.model.User">
    insert into user (id, user_id, user_pwd
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateUserPwd" parameterType="com.ys.model.User">
    update user
    set user_pwd = #{userPwd,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>