<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link href="/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="/lib/font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css" />
<!--[if IE 7]>
<link href="lib/font-awesome/font-awesome-ie7.min.css" rel="stylesheet" type="text/css" />
<![endif]-->
<link href="/lib/iconfont/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>欢迎页</title>
</head>
<body>
<div class="pd-20" style="padding-top:20px;">
  <p class="f-20 text-success" style="text-align:center;">欢迎使用帮帮账八爪鱼系统<span class="f-14">V1.0</span></p>
  <p class="f-16 text-success"style="margin-left:60px;">帮帮账八爪鱼系统主要提供数据抓取和展示功能，当前版本仅支持活动行和互动吧的数据抓取及展示。</p> 
  <p class="f-16 text-success"style="margin-left:60px;">活动行官方网站：<a href="http://www.huodongxing.com/">http://www.huodongxing.com/</a></p>
  <p class="f-16 text-success"style="margin-left:60px;">互动吧官方网址：<a href="http://www.hdb.com/">http://www.hdb.com/</a></p>
</div>
<footer class="footer" style="width:100%; position:fixed; left:0; bottom:0;">
  <p><br>沪ICP备15012848号 | COPYRIGHT © 2014-2015, BANGBANGZHANG, ALL RIGHTS RESERVED<br>
    八爪鱼系统由帮帮账IT团队提供技术支持</p>
</footer>
</body>
</html>